@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MuseoModerno", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "MuseoModerno", sans-serif;
}
